.carousel{
    .control-dots .dot{
        width: 20px!important;
        border-radius: 0!important;
        height: 3px!important;
        margin: 0 3px!important;
        &.selected{
            width: 30px!important;
        }
    }
}