.payment {
  background-color: rgb(238, 236, 236);
  form{
    background-color: white;
    padding: 1rem;
    .form-group{
      margin-bottom: 1rem;
      label{
        width: 150px;
        font-size: 1.4rem;
      }
      input, select, select > option{
        width: calc(100% - 150px);
        font-size: 1.4rem;
        padding: 0.5rem 1rem;
      }

    }
  }
  &--address {
    padding: 2rem;
    &--title {
      color: #c62828;
      margin-bottom: 1rem;
    }
    &--info {
      display: flex;
      justify-content: space-between;
      align-items: center;
     
      b,
      span,
      input {
        font-size: 1.5rem;
        margin-right: 1rem;
        margin-bottom: 0px;
      }
      button {
        font-size: 1.5rem;
      }
      p{
        margin-bottom: 0;
      }
    }
    &--card{
      margin: 2rem 0;
      border-top: 1px solid silver;
      b{
        font-size: 1.5rem;
      }
       span, p{
        font-size: 1.4rem;

      }
      &--info{
        p{
          margin-bottom: 0px;
          b{
            border-right: 1px solid silver;
            padding-right: 1rem;
          }
          span{
            margin-top: 0.5rem;
            padding-left: 1rem;
          }
          &:last-of-type{
            margin-bottom: 0.5rem;
          }
        }
        &--default{
          color: #c62828;
          padding: 0.5rem 1rem;
          border: 1px solid #c62828;
          margin-top: 1rem;
        
        }

      }
      &--update{
        color: #c62828;
        cursor: pointer;
      }
      
    }
  }
  &__orders {
    &__table {
      &__head {
        tr {
          th {
            font-size: 1.8rem;
            font-weight: bold;
          }
        }
      }
      &__body {
        tr {
          
          td {
            font-size: 1.5rem;
            p{
              font-size: 1.5rem;
              &:first-of-type{
                text-decoration: line-through;
                color: silver;
              }
            }
            img {
              width: 100px;
            }
            .options {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: 1rem;
              p {
                font-size: 1.5rem;
              }
            }
         
          }
        }
      }
    }
  }
  &__voucher {
    padding: 1rem;
    b {
      color: red;
      font-size: 1.8rem;
    }
    p,
    button {
      font-size: 1.5rem;
    }
  }
  &__method {
    padding: 1rem;
    button {
      margin: 0 0.5rem;
    }
  }
  &--address,
  &__orders,
  &__voucher,
  &__method {
    background-color: white;
    margin-bottom: 1rem;
  }

  &__price {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: white;
    z-index: 9;

    &__info {
      padding-top: 1rem;
      display: flex;
      text-align: right;
      justify-content: end;
      p {
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        span {
          font-size: 1.5rem;
        }
        .payment__price__info__totalPrice {
          font-size: 2rem;
          color: red;
        }
      }
    }
    &__order {
      width: 70%;
      margin: 0 auto;

      padding-bottom: 1rem;
      display: flex;
      justify-content: space-between;

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin-bottom: 0;
        a {
          font-size: 1.5rem;
          margin-left: 0.5rem;
          text-decoration: none;
        }
      }
      button {
        font-size: 1.5rem;
      }
    }
  }
  .paymentInfo {
    width: 80%;
    margin-left: auto;
    &__title {
      display: flex;
      justify-content: space-between;
    }
    input,
    select {
      width: 100%;
      padding: 0.5rem 0.4;
      margin-bottom: 1rem;
      &:focus {
        &::placeholder {
          transform: translate(-0.4rem, -0.4rem);
        }
      }
    }
    textarea {
      width: 100%;
    }
  }
  .paymentType {
    button {
      display: flex;
      justify-content: space-between;
      width: 100%;
      color: black;
      border-color: black;
      margin-bottom: 1rem;
    }
  }
  .paymentProducts {
    background-color: silver;
    &__container {
      width: 80%;
      margin-right: auto;
    }
    &__list {
      &__item {
        display: flex;
        // justify-content: space-between;
        &__img {
          position: relative;
          border-radius: 5px;
          img {
            border-radius: 5px;
            width: 100%;
            height: 100px;
          }
          span {
            position: absolute;
            top: -5px;
            right: -5px;
            width: 15px;
            height: 15px;
            line-height: 15px;
            text-align: center;
            background-color: black;
            color: white;
            border-radius: 50%;
          }
        }
      }
    }
    &__price {
      p {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.payment-qr {
  &-content {
    h5 {
      text-align: center;
      font-size: 1.8rem;
      font-weight: bold;
      // color: orange;
    }
    p {
      font-size: 1.5rem;
      strong {
        font-size: 1.5rem;
        color: orange;
      }
    }
  }
}

.modal--address--edit {
  
  form {
    h4 {
      text-align: center;
      margin-bottom: 1rem;
      font-weight: bold;
    }
    .form-group {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
      label {
        width: 40%;
        font-size: 1.5rem;
      }
      input {
        width: 60%;
        padding: 0.5rem;
        font-size: 1.5rem;
      }
      select,
      option {
        width: 60%;
        padding: 0.5rem 0 0.5rem 0.5rem;
        font-size: 1.5rem;
      }
      button {
        margin: 0 0.5rem;
        font-size: 1.3rem;
      }
    }
  }
}
