.policy{
    width: 80%;
    margin: 40px auto;
    h1{
        font-size: 4rem;
    }
    b{
        display: block;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    p{
        font-size: 1.5rem;
    }
}