.voucher{
    h2{
        padding: 2rem 3rem;
        border-bottom: 1px solid ;
    }
    .container{
        padding: 3rem 0;
    }
    form{
        label, input, textarea{
            display: block;
            font-size: 1.5rem;
            
        }
        .form-group{
            // margin-bottom: 0.5rem;
            padding: 0.5rem;
        }
        
        .voucher--type{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
            &--card{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 32%;
                height: 200px;
                border: 1px solid;
            }
        }
        .voucher--applies{
       
            margin-top: 1rem;
            padding: 1rem;
            border: 1px solid silver;
            .form-group{
                display: flex;
                align-items: center;
                padding: 0;
                select, option{
                    outline: none;
                    margin-right: 1rem;
                    font-size: 1.3rem;
                    padding: 0.3rem 0.5rem;
                }
                label{
                    padding: 0.3rem 0.5rem;
                    margin-right: 1rem;
    

                }
                input{
                    padding: 0 0.5rem;
                    line-height: none;
          
                }
            }
        }
        .voucher--active{
            margin-top: 1rem;
            border: 1px solid silver;
            padding: 1rem;
            .form-group{
                display: flex;
               
            }
        }
    }
}