.productDetail {
  width: 80%;
  margin: 0 auto;
  &__intro {
    &__title {
      font-size: 2.5rem;
    }
    &__stars {
      .MuiSvgIcon-root {
        font-size: 2rem;
      }
      p {
        font-size: 5rem;
        margin: 0 0 0 1.5rem;
      }
   
     
      
    }
    &__price {
      display: flex;
      align-items: center;
      span {
        &:nth-child(1) {
          font-size: 3rem;
          color: red;
        }
        &:nth-child(2) {
          font-size: 2rem;
          color: silver;
          text-decoration: line-through;
          margin: 0 1rem;
        }
        &:nth-child(3) {
          padding: 0 0.5rem;
          color: white;
          font-size: 1.2rem;
          font-weight: bold;
          background-color: rgb(139, 5, 5);
        }
      }
    }
    &__policy {
      display: flex;
      justify-content: space-between;
      p {
        display: flex;
        height: 2rem;
        span {
          font-size: 1.2rem;
          margin-left: 0.5rem;
        }
      }
      @media screen and (max-width: 1200px) {
        display: inline;
      }
    }
    &__info {
      dt,
      dd {
        font-size: 1.8rem;
      }
    }
    .product__option {
      margin-bottom: 10px;
      p {
        font-size: 1.8rem;
      }
      &__item {
        &__colors {
          width: 5rem;
          // border: 1px solid black;
          border: none;
          margin-right: 5px;
          img {
            &.active {
              border: 1px solid black;
            }
          }
        }
      }
    }

    .product__size {
      margin-bottom: 10px;
      p {
        cursor: pointer;
        border: 1px solid silver;
        font-size: 1.8rem;
        text-align: center;
        &.active {
          border: 1px solid black;
        }
      }
      &__item {
        border: 1px solid black;
        background-color: white;
        width: 3.5rem;
        height: 3.5rem;
        margin-right: 0.5rem;
        padding: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 50%;
        font-size: 1.3rem;

        p {
          font-size: 1.3rem;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin: 0;
          width: 100%;
          height: 100%;

          border: 1px solid black;
          // color: white;
          // background-color: black;
          &.active {
            color: white;
            background-color: black;
          }
        }
        span {
          display: none;
        }
      }
    }
    .product__quantity {
      p {
        font-size: 1.8rem;
      }
      button,
      input {
        min-width: 30px;
      }
      input {
        text-align: center;
        width: 50px;
        padding: 0.4rem 0 0.5rem !important;
        &:focus-visible {
          outline: none;
        }
      }
    }
    .link-table-size {
      margin-bottom: 10px;

      a {
        color: red;
        font-size: 1.8rem;
        text-decoration: none;
      }
    }
    .button-group-end {
      button {
        font-size: 1.8rem;
        &:first-of-type {
          margin-right: 10px;
        }
      }
    }
  }
  .productText {
    h2 {
      font-size: 2rem;
      text-align: center;
      border: 1px solid silver;
      width: 50%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    p,
    dd,
    dt {
      font-family: "Futura", sans-serif;
      width: 60%;
      margin-right: 0 auto;
      font-size: 1.3rem;
    }
  }
}
