.orderInformation{
    &--container{
        padding: 3rem;
        position: relative;
        .layer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 10%;
            background: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 0.04),
              rgba(255, 255, 255, 0)
            );
            pointer-events: none; /* Để lớp phủ không chặn các sự kiện click/hover */
          }
    }
    &--content{
        &--head{
            display: flex;
            justify-content: space-between;
            &--status{
                color: white;
                padding: 0.5rem 1rem;
         
                border-radius: 1rem;
            }
            span{
            font-size: 1.2rem;
                margin-left: 1rem;
            }
        }
        b, strong, h5{
            font-size: 1.5rem;
        }
        p{
            margin: 0;
            font-size: 1.5rem;
        }
    
        &--order{
            text-align: right;
           
        }
        select{
            margin-left: 1rem;
            font-size: 1.5rem;
            padding: 0.5rem;
            &:focus-visible{
            outline: none;
            }
            option{
            font-size: 1.5rem;
                padding: 0.5rem;
            }
        }
        &--table{
            // width: 100%;
            tr{
                td{
                    img{
                        height: 100px;
                        width: 100px;
                    }
                }
            }
        }
    }
}