.admin{
    &--header{
        background-color: #dc3545;
        &--content{
            display: flex;
            justify-content: flex-end;
            text-align: right;
            padding: 1rem;
            color: white;
           
            svg{
                font-size: 2.5rem;
                margin: 0 0.5rem;
                color: white;
            }
            span{
                font-size: 1.5rem;
                color: white;
            }
        }
    }
    &--navTabs{
        min-height: 100vh;
        &--link{
            border-right: 1px solid black;
            height: 100vh;
            ul{
               list-style: none;
               li{
                padding: 0.5rem;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 1.8rem;
                    svg{
                        font-size: 1.8rem;
                    }
                }
               }
            }
        }
    }
}