.customers {
  background-color: white;
//   color: #c0c0c0;
  height: 100%;
  position: relative;

  &--title {
    padding: 1rem 1rem 1rem 0px;
    // position: relative;
    // &::before{
    //     content: "";
    // position: absolute;
    // top: 0;
    // left: 0;
    // height: 20px;
    // width: 100%;
    // // height: 1rem; /* Chiều cao của lớp phủ */
    // background: linear-gradient(to bottom, #c0c0c0 10%, rgba(255, 255, 255, 0));
    // pointer-events: none; /* Để lớp phủ không chặn các sự kiện click/hover */
    // }
  }

  &--content {
    position: relative;
    padding: 3rem 3rem;
   
    &--form{
      display: flex;
      align-items: center;
      justify-content: end;
      margin: 1rem 0 4rem 0;
      input{
        font-size: 1.2rem;
        padding: 1rem;
      }
      label{
        transform: translate(1rem, 1rem);
        font-size: 1.3rem;
        &[data-shrink=true]{
        transform: translate(1.4rem, -0.9rem);
        font-size: 1rem;
      }
      }
      button{
        margin-left: 1rem;
        font-size: 1.2rem;
        padding: 0.7rem;
      }
    }
    &--table {
      &__head {
        tr {
          th {
            font-size: 1.5rem;
          }
        }
      }
      &--body {
        tr {
          td {
            font-size: 1.3rem;
            svg {
              font-size: 2.5rem;
              margin-left: 0.5rem;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  &--content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem; /* Chiều cao của lớp phủ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.04), rgba(255, 255, 255, 0));
    pointer-events: none; /* Để lớp phủ không chặn các sự kiện click/hover */
  }
}
