.listProduct {
  &--title {
    padding: 1rem 3rem;
    margin-bottom: 0;
  }
  &--content {
    padding: 1rem 3rem;
    position: relative;
    .layer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 200px;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.04),
        rgba(255, 255, 255, 0)
      );
      pointer-events: none; /* Để lớp phủ không chặn các sự kiện click/hover */
    }
    &--add {
      margin-top: 2rem;
    }
    &--filter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2rem 0 4rem 0;
      &--sort {
        label {
          font-size: 1.3rem;
          margin-right: 1rem;
        }
        .MuiSelect-select {
          font-size: 1.2rem;
          padding: 1rem 0.5rem 0.5rem 1rem;
          ul {
            li {
              font-size: 1.2rem;
            }
          }
        }
      }
      &--find {
        display: flex;
        align-items: center;
        .MuiTextField-root {
          margin-right: 1rem;
          label {
            transform: translate(1rem, 1rem);
            &[data-shrink="true"] {
              transform: translate(1rem, -0.9rem);
            }
          }
          input {
            font-size: 1.2rem;
            padding: 1rem;
          }
        }
        button {
          // font-size: 1.2rem;
          padding: 1rem;
        }
      }
    }
    .table-body {
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }
}
