.account{
    margin-top: 1rem;
    &--nav{
        display: flex;
        flex-direction: column;
        // min-width: 175px;
      
        border-radius: 0.5rem;
        background-color: white;
        b{
            font-size: 3rem;
            font-weight: bold;
            color: #c62828;
            border-bottom: 1px solid silver;
            padding: 2rem 0rem 0rem 1rem;

        }
        a{
            text-decoration: none;
            font-size: 1.5rem;
            color: black;
            border-bottom: 1px solid silver;
            padding: 2rem 0.5rem 0.5rem 1rem;
        }

    }
    &--content{
      
        background-color: transparent;
    }
    .MuiAccordion-root{
        box-shadow: none;
        .MuiAccordionSummary-root{
            padding: 0;
            margin: 0;
        }
    }
}