.review--card{
    margin-bottom: 1rem;
    h5{
        b{
            font-size: 2rem;

            margin-right: 0.5rem;
        }
        .MuiSvgIcon-root{
            font-size: 1.5rem;
        }
    }
    p{
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    
}