.topbar{
    &-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        &-shoppingBag{
            position: relative;
            &-content{
                position: absolute;
                top: 100%;
                right: 0;
                background-color: white;
                width: 30rem;
                color: black;
                padding: 1rem;
                box-shadow: 0px 1px 5px silver;
                z-index: 999;
                &-quanlity{
                    display: flex;
                    input{
                        width: 30%;
                        background-color: transparent;
                        border: 1px solid silver;
                        font-size: 1.2rem;
                        &:nth-child(2){
                            width: 40%;
                            text-align: center;
                            &:focus-within{
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
    }
}